html {
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
  min-width: 800px;
}
header, body {
  cursor: context-menu;
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}
