body {
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
}
main {
  color: white;
}
p {
  text-shadow: 2px 2px black;
}

.navbar-brand {
  width: 210px;
 margin: 0px !important;
}
#brandIcon {
  background: url("../img/LetterA.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  margin: 0px;
  transform: translateX(10px);
  padding: 5px;
  border: none;
}
#brandName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: inline-block;
  transform: translate(15px, -3px);
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.nav-item {
  text-align: right;
}

#brandImage {
  background: url("../img/profile.png") no-repeat;
  height: 400px;
  width: 400px;
  background-size: 400px 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: none;
}

.footerText {
  font-size: 10px;
  font-weight: bold;
  color: white;
}
