html {
  text-shadow: 1px 1px black;
}
body {
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
}
main {
  color: white;
}

.navbar-brand {
  width: 210px;
  margin: 0px !important;
}
#brandIcon {
  background: url("../img/LetterA.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  margin: 0px;
  transform: translateX(10px);
  padding: 5px;
  border: none;
}
#brandName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: inline-block;
  transform: translate(15px, -3px);
}
.navbar-collapse {
  flex-grow: 0 !important;
}

.footerText {
  font-size: 10px;
  font-weight: bold;
  color: white;
}
